<h1> Stats Calculation </h1>

<form action ="/descriptive_stats/results">
  <div>
<lable> Numbers
</lable>
<textarea type "text" name = "numbers"></textarea>
</div>
<button> Calculate decriptive stats </button>
