<h1> Payment Calculation </h1>

<form action ="/payment/results">
<div>
  <label for="APR">APR</label>

    <input type="text" id="APR" name="apr">
</div>
<div>
    <label for="Number of years">Number of years</label>

      <input type="text" id="Number of years" name="years">
</div>
<div>
<label for="Principal">Principal</label>

  <input type="text" id="Principal" name="principal">
</div>
<button> Calculate monthly payment</button>



</form>
