<h1> Payment Calculation </h1>

<form action ="/payment/results">
  <div>
<lable> APR
</lable>
<input type "text" name = "apr">
</div>
<div>
<lable> Number of years
</lable>
<input type "text" name = "years">
</div>
<div>
<lable> Principal
</lable>
<input type "text" name = "principal">
</div>
<button> Calculate monthly payment</button>



</form>
