<h1>Payment Results</h1>
<div>
  APR
</div>
<div>
<%= @apr%>%
</div>
<div>
  Number of years
</div>
<div>
<%= @years%>
</div>
<div>
  Principal
</div>
<div>
<%= @principal%>
</div>
<div>
  Payment
</div>
<div>
<%= number_to_currency(@monthly_payment, :precision =>2)%>
</div>
