<h1> Random Calculation </h1>

<form action ="/random/results">
  <div>
    <label for="Minimum">Minimum</label>

      <input type="text" id="Minimum" name="minimum">
  </div>
  <div>
      <label for="Maximum">Maximum</label>

        <input type="text" id="Maximum" name="maximum">
  </div>
  <div>
<button> Pick random number</button>



</form>
