<h1> Random Calculation </h1>

<form action ="/random/results">
  <div>
<lable> Minimum
</lable>
<input type "text" name = "minimum">
</div>
<div>
<lable> Maximum
</lable>
<input type "text" name = "maximum">
</div>
<div>
<button> Pick random number</button>



</form>
