<h1> Square Calculation </h1>

<form action ="/square/results">
  <label for="number_input">Enter a number</label>

    <input type="text" id="number_input" name="user_number">

    <button type="submit">Calculate square</button>


</form>
