<h1> Word Count Calculation </h1>

<form action ="/word_count/results">
  <div>
<lable> Text
</lable>
<textarea type "text" name = "user_text"></textarea>
</div>
<div>
<lable> Special word
</lable>
<input type "text" name = "special">
</div>
<button> Process text </button>



</form>
